
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="jumbotron-heading">Authorization List</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <th>1</th>
                        <td>John</td>
                        <td>Peterson</td>
                        <td> @Html.ActionLink("View", "Index","ng",new { pathInfo = "auth-details/1" },new { @class="btn btn-primary" })</td>
                    </tr>
                    <tr >
                        <th>2</th>
                        <td>Mary</td>
                        <td>Peterson</td>
                        <td> @Html.ActionLink("View", "Index", "ng", new { pathInfo = "auth-details/2" }, new { @class = "btn btn-primary" })</td>
                    </tr>
                    <tr >
                        <th>3</th>
                        <td>Demsey</td>
                        <td>Walker</td>
                        <td> @Html.ActionLink("View", "Index", "ng", new { pathInfo = "auth-details/3" }, new { @class = "btn btn-primary" })</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>Donna</td>
                        <td>Matthews</td>
                        <td> @Html.ActionLink("View", "Index", "ng", new { pathInfo = "auth-details/4" }, new { @class = "btn btn-primary" })</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


